html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1 {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
}

.container { 
  background: #fafaff;
  height: 100vh;
  weight: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr .4fr;
  
  header {
    background: linear-gradient(to right, #77b1ff, white);
    padding: 1rem;
    box-shadow: 0px 1px 9px 3px grey;
  }
  
  main {
    padding: 1rem;
    
    form {
      margin-top: 1.5rem;
      
      input {
        outline: none;
        margin-left: 2.5rem;
      }
    }
    
    .topicsContainer {
      display: grid;
      margin-top: 3rem;
      grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
      width: 90%;
      grid-gap: 2rem;
      
      li {
        list-style: none;
        padding: 1rem;
        height: 5rem;
        border: 1px solid black;
        text-align: center;
        background: #c4e7f2;
        box-shadow: 3px 3px 3px grey;
      }
      
      li:hover {
        box-shadow: 1px 1px 1px grey;
      }
      
      li:active {
        box-shadow: 0 0 0 grey;
        border: 1px solid white;
      }
    }
    
  }
  
  footer {
    h6 {
      text-align: center;
      font-weight: 100;
      padding-top: 1vh;
      border-top: 1px solid black;
      margin: 0;
    }
  }
}

@import 'topic';